.about {
    padding: 60px 0 50px 0;
    background-color: #84A178;
}

.about__uppertitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;
}

.about__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FCFCFC;
}

.about__img {
    border-radius: 140px;
}

.about__descriptions {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.76;
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FCFCFC;
}

.about__product {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.62;
    text-align: center;
    
    color: #FCFCFC;
}













