.about {
    padding: 60px 0 50px 0;
    background-color: var(--brand-green);

    @media screen and (min-width: 768px){
        padding-bottom: 52px;
    }

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
    }
}

.about__uppertitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;
    color: var(--brand-white);
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        font-weight: 800;
        font-size: 22px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.23;
    }
}

.about__title {
    width: 200px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 1.27;
    text-align: center;
    text-transform: uppercase;

    color: var(--brand-white);
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 100%;
    }

    @media screen and (min-width: 768px){
        font-size: 34px;
        line-height: 1.26;
        letter-spacing: 0.06em;
        margin-bottom: 80px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 82px;
    }
}

.about__desc {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    @media screen and (min-width: 480px){
    flex-wrap: nowrap;
    }

    @media screen and (min-width: 768px) {
        gap: 41px;
    }

    @media screen and (min-width: 1200px) {
        gap: 109px;
    }
}

.about__position {
    position: relative;
    width: 280px;
    height: 300px;

    @media screen and (min-width: 480px) {
        margin-top: auto;
        margin-bottom: auto;
    }

    @media screen and (min-width: 768px) {
        width: 330px;
        height: 356px;
    }

    @media screen and (min-width: 1200px) {
        width: 491px;
        height: 529px;
    }
}

.about__circle {
    width: 279px;
    height: 278px;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px;

    @media screen and (min-width: 768px) {
        width: 330px;
        height: 330px;
        border-radius: 165px;
    }

    @media screen and (min-width: 1200px) {
        width: 490px;
        height: 490px;
        border-radius: 250px;
    }
}

.about__img {
    position: absolute;
    top: 22px;
    left: 0;
    border-radius: 140px;

    @media screen and (min-width: 768px){
        top: 26px;
        border-radius: 1228px;
    }

    @media screen and (min-width: 1200px) {
        top: 39px;
        border-radius: 1852.2px;
    }
}

.about__text-right {
    margin-top: auto;
    margin-bottom: auto;
}

.about__descriptions {
    line-height: 1.76;
    text-align: center;
    font-weight: 400;

    color: var(--brand-white);
    margin-bottom: 4px;
    width: 100%;

    @media screen and (min-width: 768px) {
    width: 336px;
    line-height: 1.75;   
    text-align: left;
    margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
    font-size: 16px;
    width: 463px;
    }
}

.about__product {
    font-style: normal;
    line-height: 1.62;
    text-align: center;
    font-weight: 400;

    color: var(--brand-white);
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        width: 336px;
        line-height: 1.75;
        text-align: left;
        margin-bottom: 8px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        font-size: 14px;
        line-height: 1.93;
    }
}

.about__choice {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        width: 336px;
        line-height: 1.92;
        text-align: left;

        color: var(--brand-white);
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1200px) {
        width: 463px;
        font-size: 14px;
        line-height: 1.93;
        margin-bottom: 54px;
    }

}

.about__icon-btn {
    margin-left: 4px;
    fill: currentColor;

    transition: color 250ms var(--transition-timing-function);

    &:hover {
        fill: var(--brand-white);
    }
}




