body {
  cursor: url(../images/cursor.png) 15 15, default;
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--brand-black);

  & *:hover{
    cursor: url(../images/cursor.png) 15 15, default;
  }
  
  @media (min-width: 320px){
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;

    background-image: url(../images/body_bg/mobile1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/mobile2x.png);
    }
  }

  @media (min-width: 480px) {
    // max-width: 1600px;
    // background-repeat: no-repeat;
    // background-position: fixed;
    // background-attachment: fixed;
    // background-size: cover;
    // z-index: -1;

    // background-image: url(../images/body_bg/mobile1x.png);

    // @media (min-device-pixel-ratio: 2),
    //   (min-resolution: 192dpi),
    //   (min-resolution: 2dppx) {
    //   background-image: url(../images/body_bg/mobile2x.png);
    // }
  }
  @media (min-width: 769px) {
    background-image: url(../images/body_bg/tablet1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/tablet2x.png);
    }
  }
  @media (min-width: 1200px) {
    background-image: url(../images/body_bg/desktop1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/body_bg/desktop2x.png);
    }
  }
}
