/*СТИЛИ ДЛЯ СТРЕЛОК НА КНОПКАХ*/
.btn__content {
  display: inline;
}
.svg-icon {
  margin-left: 4px;
  fill: currentColor;
}

/*  СТИЛИ ДЛЯ КНОПОК  */
.btn__products {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 38px;

  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;

  &:hover,
  &:focus {
    border: 2px solid #0a8817;
    outline: transparent;
  }

  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;
    border-radius: 10px;

    &:hover {
      border: 2px solid #0a8817;
    }

    &:focus {
      border: 2px solid #0a8817;
      color: #fff;
    }
  }
}

.btn__read-more {
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 42px;
  background: var(--brand-yellow);
  border-radius: 10px;
  color: black;
  border: none;

  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms var(--transition-timing-function),
    outline 250 ms var(--transition-timing-function);

  &:hover {
    background-color: #0a8817;
  }

  &:focus {
    background-color: #0a8817;

    color: #fff;
    outline: transparent;
  }
}

.btn__our-locations {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  color: black;

  &:hover {
    background: #0a8817;
  }
  &:focus {
    background: #0a8817;

    color: #fff;
    outline: transparent;
  }
}
.btn__franchise {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 42px;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  color: black;

  &:hover {
    border: 2px solid #0a8817;
  }

  &:focus {
    border: 2px solid #0a8817;
    color: #fff;
  }
}

.btn__buy-now {
  // display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 152px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  color: black;

  &:hover {
    background: #0a8817;
  }
  &:focus {
    background: #0a8817;
    color: #fff;
    outline: transparent;
  }
}
