.customer-reviews {
    margin-top: 80px;
    padding-bottom: 40px;
}

:root {
  --swiper-theme-color: var(--brand-green);
  --swiper-navigation-size: 25px;

  @media screen and (min-width: 481px) {
      --swiper-navigation-size: 35px;
  }
  @media screen and (min-width: 1200px) {
      --swiper-navigation-size: 44px;
  }
}
.swiper {
  text-align: center;
  max-width: 968px;

    &__image {
      width: 85px;
      height: 85px;
      margin-left: auto;
      margin-right: auto;

      border-radius: 50px;
    }
    &__text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 256px;
      padding: 35px 39px;
      margin-top: 32px;
    
      font-weight: 400;
      font-size: 12px;
      line-height: 2.59;
      color: var(--brand-white);

      background-color: var(--brand-green);
      border-radius: 10px;

      @media screen and (min-width: 481px) {
          font-size: 14px;
          line-height: 2;
      }
      @media screen and (min-width: 768px) {
          height: 138px;
          padding: 28px 80px;

          font-weight: 500;
          font-size: 14px;
          line-height: 1.86;
          letter-spacing: 0.04em;

          border-radius: 24px;
      }
      @media screen and (min-width: 1200px) {
          padding: 42px 74px;

          font-size: 16px;
          line-height: 1.88;
      }
    }
    &__title {
      margin-top: 32px;
      
      font-weight: 500;
      font-size: 20px;
      line-height: 1.85;
      text-align: center;
      color: var(--brand-black);

      @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 1.88;
      }
    }
  }
.swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: static;
    margin-top: 12px;

    @media screen and (min-width: 768px) {
        margin-top: 32px;
    }
}


.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
}
.swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 12px)
  );
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 12px)
  );
}
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 9px);
}
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: var(--brand-yellow);
}
.swiper-pagination {
  position: relative;
}