.footer {
    background-color: #84A178;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FCFCFC;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 18px;
            line-height: 1.22;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            font-weight: 700;
            font-size: 26px;
            line-height: 1.23;
            margin-top: 0;
        }

        @media (min-width: 1200px) {
            font-weight: 400;
            font-size: 30px;
            line-height: 1.23;
            margin-bottom: 60px;
        }
    }

    &__title-passion {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        color: #FCFCFC;

        @media (min-width: 320px) and (max-width: 768px) {
            display: block;
            font-size: 36px;
            line-height: 1.14;
            letter-spacing: 0.04em;
            margin-top: 16px;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            display: block;
            font-size: 48px;
            line-height: 1.22;
            letter-spacing: 0.06em;
        }

        @media (min-width: 1200px) {
            display: block;
            font-size: 58px;
            line-height: 1.22;
            letter-spacing: 0.06em;
            margin-top: 14px;
        }
    }

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #131313;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 12px;
            line-height: 1.83;
}

        @media (min-width: 768px) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.86;
        }

        @media (min-width: 1200px) {
            font-weight: 700;
            font-size: 16px;
            line-height: 1.86;
            letter-spacing: 0.02em;
        }
    }

    &__link-number {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #FFFFFF;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 12px;
            line-height: 1.83;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.86;
        }

        @media (min-width: 1200px) {
            font-size: 16px;
            line-height: 1.86;
            letter-spacing: 0.02em;
        }
    }
    &__company {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #7A7A7A;
        text-align: center;

        @media (min-width: 320px) and (max-width: 768px) {
            font-size: 14px;
            line-height: 1.57;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            font-size: 14px;
            line-height: 1.86;
            letter-spacing: 0.02em;
            padding-top: 12px;
            padding-bottom: 12px;
        }

        @media (min-width: 1200px) {
            font-size: 12px;
            line-height: 1.83;
            letter-spacing: 0.02em;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
    &__content {
// border-bottom: 1px solid #E1E1E1;
        @media (min-width: 768px) and (max-width: 1199px) {
            display: flex;
            padding-bottom: 32px;
        }

        @media (min-width: 320px) and (max-width: 768px) {
            padding-bottom: 40px;
        }

        @media (min-width: 1200px) {
            display: flex;
        }
    }

    &__links {
        @media (min-width: 1200px) {
            margin-left: auto;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            margin-top: 49px;
            margin-left: auto;
        }
    }
}

.footer__social {
    list-style: none;
    display: flex;
    gap: 30px;

    @media (min-width: 320px) and (max-width: 768px) {
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-top: 60px;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
        margin-left: 34px;
        justify-content: flex-end;
        margin-bottom: 34px;
    }

    @media (min-width: 1200px) {
        justify-content: flex-end;
        margin-bottom: 40px;
        margin-top: 12px;
    }
}
.footer__link-position {
    text-align: right;
}
a {
    list-style: none;
    text-decoration: none;
}

.social-link {
    background-color: #F8D24E;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.git-link {
fill: #84A178;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #FCFCFC;
    }
}
.git {
margin: 7px;
}

.telegram-link {
    fill: #84A178;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            fill: #FCFCFC;
        }
}
.telegram {
margin-top: 9px;
        margin-right: 9px;
        margin-bottom: 8px;
        margin-left: 5.5px;
&:hover,
    &:focus {
        fill: #FCFCFC;
    }
}
.facebook-link {
fill: #84A178;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: #FCFCFC;
    }
}
.facebook {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 12px;
    margin-left: 12px;
}

.br {
    @media (min-width: 768px) {
        display: none;
    }
}

.title_br {
@media (min-width: 1200px) {
        display: none;
    }
}

.social-link a:focus svg {
    fill: #FCFCFC;
}
.made {
@media (min-width: 320px) and (max-width: 1199px) {
    display: block;
}
}
.border {
    border-bottom: 1px solid #ECECEC;
 }
.container-2 {
    @media (min-width: 1200px) {
            margin-right: 16px;
            margin-left: 16px;
        }
    @media (min-width: 320px) and (max-width: 1199px) {
            width: 100%;
        }
                               
}