.logo__mobile {
  margin-right: auto;
}

.menu__toggle {
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  fill: var(--brand-menu);
  outline: none;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--brand-yellow);
  }
}

.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px 32px 32px 20px;
  background-color: var(--brand-green);
  z-index: 899;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    padding: 12px 20px 12px 32px;
  }
}

.menu__container.is-open {
  transform: translateX(0);
}

.close__menu {
  min-height: 32px;
  min-width: 32px;
  position: absolute;
  top: 16px;
  right: 16px;

  &:hover,
  &:focus {
    fill: var(--brand-yellow);
  }

  @media screen and (min-width: 768px) {
    top: 32px;
  }
}

.mobile__menu {
  padding: 0;
  padding-top: 51px;
  margin: 0;
  margin-bottom: auto;
  display: flex;
  gap: 32px;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 768px) {
    gap: 40px;
    padding-top: 76px;
  }
}

.mobile__link {
  color: var(--brand-white);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;

  &:hover,
  &:focus {
    color: var(--brand-black);
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}

.menu__btn {
  display: flex;
  margin-bottom: 64px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
