.modal {
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 50%;

  width: 280px;
  height: 990px;

  transform: translate(-50%, -50%);
  padding: 20px;

  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  // @media screen and (min-width: 480px){
  //   width: 450px;
  // }

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 995px;
  }
}

// --========================

.ice__title {
  margin-top: -10px;
  margin-bottom: 40px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  align-items: center;
  text-align: center;

  color: #131313;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 28px;
    margin-top: 0;
  }
}

.ice__image {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 0px;
  margin-bottom: 25px;

  @media screen and(min-width: 768px) {
    // margin-bottom: -30px;
  }

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  border-radius: 100.166px;

  &::before {
    @include pseudo(200px, 200px);
    background-image: url(../images/products/modal-min.png);
    background-size: cover;
    position: absolute;
    bottom: 7px;
  }
}

.ice__content {
  display: flex;
}

.ice__text {
  position: relative;
  display: block;

  margin-left: auto;
  margin-right: auto;
  width: 53px;
  height: 72px;
  border: 2px solid #9cbe8f;
  border-radius: 40px;

  font-weight: 500;
  font-size: 10px;
  line-height: 28px;
  text-align: center;

  @media screen and(min-width: 768px) {
    width: 65px;
    height: 90px;
    font-size: 12px;
    line-height: 15px;
  }

  // top: 0px;
  // margin-bottom: 25px;
}

.ice__text--number {
  margin-left: auto;
  margin-right: auto;

  position: absolute;
  top: 0%;
  right: 3px;
  display: block;
  width: 43px;
  height: 43px;
  background: #9cbe8f;
  border: 2px solid #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and(min-width: 768px) {
    width: 53px;
    height: 53px;
    top: 0%;
    right: 3px;
  }
}

.ice__text--write {
  position: absolute;
  bottom: 0;
  right: 12px;
  display: block;

  @media screen and(min-width: 768px) {
    bottom: 11px;
    right: 15px;
  }
}

.ice__text--protein {
  display: none;

  @media screen and(min-width: 768px) {
    display: block;

    position: absolute;
    bottom: 11px;
    right: 1px;
  }
}

.ice__text--prote {
  right: 5px;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.ingredients__text {
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;

  color: #131313;
}

.ingredients__list {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 176%;
  letter-spacing: 0.04em;
}

.ingredients__item {
  display: flex;
  justify-content: space-between;
}

// =====Form======

.register-form {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 240px;

  @media screen and (min-width: 480px) {
    width: 368px;
  }
}

.register-form__field {
  // display: block;
  position: relative;

  display: block;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &:not(:last-child) {
    @media screen and(min-width: 768px) {
      margin-bottom: 16px;
    }
  }
}

.register-form__label {
  // display: block;
  // margin-bottom: 8px;
  position: absolute;
  top: 44%;
  left: 12px;
  transform: translateY(-50%);

  font-size: 12px;
  line-height: 140%;

  margin-bottom: 4px;

  @media screen and(min-width: 768px) {
    font-size: 14px;
    left: 16px;
  }

  transition-property: transform;
}

.register-form__label.label {
  transform: translateY(-150%);

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    transform: translateY(-175%);
  }

  @media screen and(min-width: 768px) {
    transform: translateY(-170%);
  }

  transition-property: transform;
}

.register-form__input:focus + .register-form__label,
.register-form__input:not(:placeholder-shown) + .register-form__label {
  transform: translate(-10px, -248%);

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    transform: translate(-10px, -247%);
  }

  transform: translate(-12px, -220%);
}

.register-form__input:not(:placeholder-shown):required:invalid {
  border-color: #dc143c;
}

.register-form__input:hover,
.register-form__comment:hover {
  border: 3px solid #84a178;
}

.register-form__input:focus,
.register-form__comment:focus {
  border: 3px solid #84a178;
}

.register-form__comment {
  margin-bottom: 32px;
  width: 240px;
  height: 84px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;

  @media screen and (min-width: 480px) {
    width: 368px;
  }
}

.register-form__comment:focus + .register-form__label.label,
.register-form__comment:not(:placeholder-shown) + .register-form__label.label {
  transform: translate(-10px, -417%);

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    transform: translate(-10px, -361%);
  }

  transform: translate(-16px, -315%);
}

.register-form__input {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 16px;
  width: 240px;
  height: 42px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: transparent;

  @media screen and (min-width: 480px) {
    width: 368px;
  }

  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: #84a178;
  }

  &::placeholder {
    opacity: 0;

    transition-property: transform;
  }

  &:focus::placeholder {
    opacity: 1;
  }
}

.register-form__comment {
  width: 240px;
  height: 84px;

  resize: none;

  background-color: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  outline: transparent;

  padding-top: 8px;
  padding-right: 12px;
  padding-left: 12px;

  @media screen and (min-width: 480px) and (max-width: 767.5px) {
    width: 368px;
    height: 64px;
  }

  @media screen and(min-width: 768px) {
    width: 368px;
    height: 64px;

    padding-top: 11px;
    padding-right: 16px;
    padding-left: 16px;
  }

  transition: border-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--button-green);
  }

  &::placeholder {
    opacity: 0;

    transition-property: transform;
  }

  &:focus::placeholder {
    opacity: 1;
  }
}
