/* Стили для подложки */

.overlay {
   
   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
   @media screen and (max-height:991px) {
      overflow: scroll;
   }
}


/* Стили для модальных окон */
.modal{
   opacity: 0;
   visibility: hidden;
}
.read-more{
   
   
   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 280px;
   
   /*  Центрируем и задаем z-index */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/
   
   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 28px;
   border-radius: 3px;
   background-color: #FCFCFC;
   transition: 0.3s all;
   border: 2px solid #F8D24E;
   
       @media screen and (max-height:459px) and (max-width:767px){
      top: 10px;
      transform: translate(-50%, 0);
   }
   @media screen and (max-height:449px) and (min-width:768px) {
      top: 10px;
      transform: translate(-50%, 0);
   }
   @media screen and (min-width:768px) {
      max-width: 568px;
      padding: 32px 60px;
   }
}


/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}


/* Стили для кнопки закрытия */

.modal__close{
   width: 13px;
   height: 13px;
   top: 12px;
   right: 12px;
   cursor: pointer;
   position: absolute;
}
.modal__close{
   fill: #000;
}


/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */


.read-more{
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 20px;
   @media screen and (min-width:768px) {
    gap: 32px;
   }
}

.read-more__title{
   display: block;
   font-family: 'Seymour One';
   font-size: 16px;
   line-height :1.5 ;
   @media screen and (min-width:768px) {
      font-size: 20px;
      line-height: 1.4;
   }
}
.read-more__container{
    width: 100%;
}
.read-more__video{
    height: 99px;
    background: #131313;
    border-radius: 10px;
    position: relative;
    @media screen and (min-width:768px) {
    height: 205px;
   }
}
.read-more__button{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.read-more-text{
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    @media screen and (min-width:768px) {
    font-size: 16px;
   }
}
