:root{
	--brand-green: #84A178;
	--brand-yellow: #F8D24E;
	--brand-black: #131313;
	--brand-white: #FCFCFC;
	--brand-header: #84A278;
	--brand-menu: #FFFFFF;
	--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}