:root {
  --brand-green: #84a178;
  --brand-yellow: #f8d24e;
  --brand-black: #131313;
  --brand-white: #fcfcfc;

  --brand-header: #84a278;
  --brand-menu: #ffffff;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  //products//
  --brand-products-1: #aec6a5;
  --brand-products-2: #efd478;
  --brand-products-3: #d6936d;

  --bg-shadow-1: rgba(10, 136, 23, 0.25);
  --bg-shadow-2: rgba(153, 114, 23, 0.25);
  --bg-shadow-3: rgba(0, 0, 0, 0.25);
}
