@import './common';

@import './gallery';
@import './button';
@import './container';
@import './about';
@import './reset';
@import './vars';
@import './body';

@import './products';

@import './contacts';
@import './customer-reviews';

@import './footer';

@import './header';
@import './mobile-menu';

@import './read-more';

@import './about-product';

@import './buy-now-modal';

@import './advantages';

@import './locations';
