@import './common';

@import './gallery';
@import './button';

@import './container';
@import './about';
@import './reset';
@import './vars';
@import './body';
@import './contacts';
@import './customer-reviews';

@import './button';
@import './advantages';
