<section class="advanteges">
  <h2 class="advanteges__title">advanteges</h2>
  <div class="conteiner">
    <p class="advanteges__text">tradition and love</p>
    <h2>how it’s made?</h2>
    <div class="advanteges__image">
      <img
        srcset="./images/advantages/img_mobile.jpg 280w,
        ./images/advantages/img_tab.jpg 330w,
        ./images/advantages/img_desk.jpg 490w"
        sizes="(min-width: 1200px) 490px, (min-width: 768px) 330px, (min-width: 480px) 280px, 100vw"
          src="./images/advantages/img_mobile.jpg"
          alt="picture of cow"          
      />
    </div>

  </div>

</section>