<!-- Contacts Liubomyr Vynnychuk -->

<section class="contacts">
  <h2 class="contacts__title visually-hidden">Contacts</h2>
  <ul class="contacts__list list">
    <li class="contacts__item">
      <div class="category">
        <p class="category__title">CAFE</p>
        <ul class="category__list list">
          <li class="category__item">
            <p class="adress__title">Chicago</p>

            <a
              class="adress__link link"
              href="https://goo.gl/maps/tmbvL5t9hcsbGNjA7"
              target="_blank"
              rel="noreferrer, noopener"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="category__item">
            <ul class="week__list list">
              <li class="week__item">
                <p class="week__title">Monday - Friday</p>
                <p class="week__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="week__item">
                <p class="week__title">Saturday - Sunday</p>
                <p class="week__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="category__item">
            <ul class="category-contacts__list list">
              <li class="category-contacts__item">
                <a
                  class="category-contacts__link--phone link"
                  href="tel:+61(0)383766284"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="category-contacts__item">
                <a
                  class="category-contacts__link--mail link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>

    <li class="contacts__item">
      <div class="category">
        <p class="category__title">FOODTRUCK</p>
        <ul class="category__list list">
          <li class="category__item">
            <p class="adress__title">Los Angeles</p>

            <a
              class="adress__link link"
              href="https://goo.gl/maps/bmUvpt7vANMGbiNu7"
              target="_blank"
              rel="noreferrer, noopener"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </li>
          <li class="category__item">
            <ul class="week__list list">
              <li class="week__item">
                <p class="week__title">Monday - Friday</p>
                <p class="week__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="week__item">
                <p class="week__title">Saturday - Sunday</p>
                <p class="week__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="category__item">
            <ul class="category-contacts__list list">
              <li class="category-contacts__item">
                <a
                  class="category-contacts__link--phone link"
                  href="tel:+61(0)383766284"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="category-contacts__item">
                <a
                  class="category-contacts__link--mail link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>

    <li class="contacts__item">
      <div class="category">
        <p class="category__title">CAFE</p>
        <ul class="category__list list">
          <li class="category__item">
            <p class="adress__title">New York</p>

            <a
              class="adress__link link"
              href="https://goo.gl/maps/wUkAEZUEa4P9VVAH8"
              target="_blank"
              rel="noreferrer, noopener"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </li>
          <li class="category__item">
            <ul class="week__list list">
              <li class="week__item">
                <p class="week__title">Monday - Friday</p>
                <p class="week__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="week__item">
                <p class="week__title">Saturday - Sunday</p>
                <p class="week__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </li>
          <li class="category__item">
            <ul class="category-contacts__list list">
              <li class="category-contacts__item">
                <a
                  class="category-contacts__link--phone link"
                  href="tel:+61(0)383766284"
                  >+61(0) 383 766 284
                </a>
              </li>
              <li class="category-contacts__item">
                <a
                  class="category-contacts__link--mail link"
                  href="mailto:noreply@envato.com"
                  >noreply@envato.com
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="btn">
    <ul class="btn__list list">
      <li class="btn__item">
        <button class="btn__our-locations">
          Our Locations
          <svg class="svg-icon" width="12" height="12">
            <use
              xlink:href="./images/svg/symbol-defs.svg#icon-right-bold"
            ></use>
          </svg>
        </button>
      </li>
      <li class="btn__item">
        <button class="btn__franchise js-open-modal" data-modal="4">
          Franchise
          <svg class="svg-icon" width="12" height="12">
            <use
              xlink:href="./images/svg/symbol-defs.svg#icon-right-bold"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
