<!-- Gallery/Kristina Hodakivska -->

<section class="gallery">
  <div class="gallery__container container">
    <img
      class="gallery__img"
      srcset="
        ./images/gallery/gallery-img_1.png    1013w,
        ./images/gallery/gallery-img_1-2x.png 2026w,
        ./images/gallery/gallery-img_1-3x.png 3039w
      "
      type="image/png"
      src="./images/gallery/gallery-img_1.png"
      sizes="(min-width:1200px) 1013px, (min-width:768px) 704px, (min-width:320px) 280px, 100vw"
      alt="ice-cream gallery"
      loading="lazy"
    />

    <img
      class="gallery__img gallery__img--second"
      srcset="
        ./images/gallery/gallery-img_2.png    1013w,
        ./images/gallery/gallery-img_2-2x.png 2026w,
        ./images/gallery/gallery-img_2-3x.png 3039w
      "
      type="image/png"
      src="./images/gallery/gallery-img_1.png"
      sizes="(min-width:1200px) 1013px, (min-width:768px) 704px, (min-width:320px) 280px, 100vw"
      alt="ice-cream gallery"
      loading="lazy"
    />

    <img
      class="gallery__img gallery__img--third"
      srcset="
        ./images/gallery/gallery-img_3.png    1013w,
        ./images/gallery/gallery-img_3-2x.png 2026w,
        ./images/gallery/gallery-img_3-3x.png 3039w
      "
      type="image/png"
      src="./images/gallery/gallery-img_1.png"
      sizes="(min-width:1200px) 1013px, (min-width:768px) 704px, (min-width:320px) 280px, 100vw"
      alt="ice-cream gallery"
      loading="lazy"
    />
  </div>
</section>
