<header class="header">
    <div class="header__container ">
        <nav class="nav">
            <!-- <a href="">
                <img src="" alt="">
            </a> -->
            <ul class="nav__list list">
                <li class="nav__item">
                    <a href="" class="nav__link link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link link">How it’s made?</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link link">Our products</a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link link">Contact</a>
                </li>
            </ul>
            <button class="btn__buy-now" type="button" data-modal-open>Buy now</button>
        </nav>
    </div>
</header>