<section class="section hero">
  <h1 class="hero-title">ice cream made with passion</h1>
  <div class="bottoms">
    <ul class="about-ice-cream">
      <li class="anchors">
        <button class="btn">
          <a href="#products">Products</a>
        </button>
      </li>
      <li class="anchors">
        <a href="#howItsMade">How it’s made?</a>
      </li>
    </ul>
  </div>
  <div class="text_with_arrow">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et
  </div>
</section>
