<section class="section hero">
  <div class="hero_section"> 
    <h1 class="hero-title">ice cream made with passion</h1>
  <div class="about-ice-cream">
    <ul class="about-ice-cream__list list">
      <li class="about-ice-cream__anchor">
        <a class="about-ice-cream__link link" href="#products">Products</a>
      </li>
      <li class="about-ice-cream__anchor">
        <a class="about-ice-cream__link link" href="#advantages">How it's made?</a>
      </li>
    </ul>
  </div>
  <div class="info-with-arrow">
    <img class="info-with-arrow__img" 
    src="./images/hero" alt="Many ice-cream on a plate" />
    <p class="info-with-arrow__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <details>
      <summary>toppings for ice cream</summary>
      Choose a topping of your choice for a brighter taste
    </details>
  </div>
  <div class="ownership">
    <ul class="ownership__list">
      <li class="ownership__item">
        <p class="ownership__amaunt">16</p>
        <p class="ownership__detail">cafes</p>
      </li>

      <li class="ownership__item">
        <p class="ownership__amaunt">23</p>
        <p class="ownership__detail">food trucks</p>
      </li>
    </ul>
  </div>
</div>
</section>
