 <!-- Mobile menu Виниченко Елена -->
 <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class="menu-close-icon" width="32" height="32">
        <use href="./images/svg/symbol-defs.svg#close-menu"></use>
      </svg>
    </button>
    <ul class="mobile-menu list">
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link mobile-menu--current"
          >Home</a
        >
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">How it’s made?</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">Our products</a>
      </li>
      <li class="mobile-menu-item">
        <a href="" class="mobile-menu-link link">Contact</a>
      </li>
    </ul>
</div>
    
    