<!-- Products Уточкіна Катерина -->
<section class="products">
  <div class="products__container container">
    <p class="products__lable">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list">
      <li class="products__item products__item--cream">
        <div class="products__item--green"></div>
        <h3 class="products__name">ice cream</h3>
        <p class="products__text products__text--cream">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>

        <!-- Кнопка виклику модалки для першого продукту -->
        <button
          class="product__btn product__btn--cream js-open-modal"
          type="button"
          data-modal="2"
        >
          <svg class="products__icon">
            <use
              class="products__svg"
              href="./images/svg/symbol-defs.svg#icon-Arrow"
            ></use>
            <use
              class="products__svg"
              href="./images/svg/symbol-defs.svg#fat-arrow"
            ></use>
          </svg>
        </button>
      </li>

      <li class="products__item products__item--coffee">
        <div class="products__item--yellow"></div>
        <h3 class="products__name">ice coffee</h3>
        <p class="products__text products__text--coffee">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <!-- Кнопка виклику модалки для другого продукту -->
        <button
          class="product__btn product__btn--coffee js-open-modal"
          type="button"
          data-modal="2"
        >
          <svg class="products__icon">
            <use
              class="products__svg"
              href="./images/svg/symbol-defs.svg#icon-Arrow"
            ></use>
            <use
              class="products__svg"
              href="./images/svg/symbol-defs.svg#fat-arrow"
            ></use>
          </svg>
        </button>
      </li>

      <li class="products__item products__item--milkshakes">
        <div class="products__item--brown"></div>
        <h3 class="products__name">milkshakes</h3>
        <p class="products__text products__text--milkshakes">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <!-- Кнопка виклику модалки для третього продукту -->
        <button
          class="product__btn product__btn--milkshakes js-open-modal"
          type="button"
          data-modal="2"
        >
          <svg class="products__icon">
            <use
              class="products__svg"
              href="./images/svg/symbol-defs.svg#icon-Arrow"
            ></use>
            <use
              class="products__svg"
              href="./images/svg/symbol-defs.svg#fat-arrow"
            ></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
