<section>
  <h1>Products</h1>
  <div>
    <ul>
      <li>
        <h2>ice cream</h2>
        <p>
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <h2>ice coffee</h2>
        <p>
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <h2>milkshakes</h2>
        <p>
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
      </li>
    </ul>
  </div>
</section>
